body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  dl {
    margin-bottom: 20px;
  }
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-left: 20px;
  }
  
  img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }